.signup-title {text-align: center; font-size: 30px; color: #5B7DB1 ;}
.signup-form{width: 500px; margin: auto;}
.signup-form label,
.signup-form input:not( [type="checkbox"] ),
.signup-form select {display: block; width: 100%; margin-top: 10px;}
.signup-form input[type="checkbox"] + label {
display: inline-block; width: auto; }
.signup-form button[type="submit"]{ display: block; padding: auto; margin-top: 20px;}

.signup-form input:not([type="checkbox"]),
.signup-form select { border: 1px solid #ccc ; padding: 10px 15px;}

.signup-form input:not( [type="checkbox"] ):focus,
.signup-form select:focus {outline: none; background-color: #5B7DB1; border: 1px solid rgb(238, 150, 199);}


.signup-form input[type="checkbox"] { appearance: none; width: 20px; height: 20px; border: 1px solid salmon; border-radius: 20px; vertical-align: bottom;}
.signup-form input:checked{background-color: salmon;}
.signup-form input[type="checkbox"]:hover{background-color: gray;}
.signup-page{padding: 15px;}